parameters:
    level: 5

    paths:
        - src
        - tests

    excludePaths:
        analyse:
            - tests/Architecture

        analyseAndScan:
            - vendor
            - workbench