<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Intercept Test Suite">
            <directory>tests</directory>
            <directory>src/InjectionGuard/tests</directory>
            <directory>src/Support/tests</directory>
            <directory>src/PIIRedactor/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/InjectionGuard/src</directory>
            <directory>src/Support/src</directory>
            <directory>src/PIIRedactor/src</directory>
        </include>
    </source>
</phpunit>